<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Services.Data.Properties.Settings.dbUsuariosConnectionString"
            connectionString="Data Source=LAPTOP-AFSKQ5EE;Initial Catalog=dbUsuarios;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>